.overView {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cardWrap {
  width: 250px;
  height: 400px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.5s all;


  .cardContent {
    transform: translateY(265px);
    transition: 0.5s all;
  }



  &:hover {
    background-size: 120% 120%;
    .cardContent {
      transform: translateY(100px);
    }
  }
}