.wrap {
  display: flex;

  .head {
    background-color: #ffffff;
    flex: 0 0 256px;
    padding-top: 84px;
    text-align: center;
  }

  .contain {
    display: flex;
    flex: 1;
    padding: 88px 24px 24px;

    .main {
      min-height: calc(100vh - 88px);
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      margin-right: 24px;
      flex: 1;
    }
  }
}

