@bgColor: #e4dfd7;

.wrap {
  display: flex;

  .sidebar {
    flex: 0 0 256px;
    background-color: @bgColor;
    height: 100vh;
    overflow: auto;
    .head {
      text-align: center;
      background-color: #495c69;
      margin-bottom: 64px;
    }
    .sidebarContain {
      text-align: center;
    }
  }

  .contain {
    display: flex;
    flex: 1;
    padding: 24px;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 5px 10px 0 rgba(146,146,146,.1);

    .main {
      display: flex;
      justify-content: center;
      flex: 1;
      background-color: @bgColor;
      align-self: start;
      min-height: 100%;
    }
  }
}

