.wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #894e54;
  color: #ffffff;
  display: flex;
  z-index: 9;
  transition: opacity 2s;
  .header {
    width: 25%;
    font-size: 24px;
    line-height: 64px;
    padding-left: 64px;
  }
  .navBar {
    flex: 1;
    display: flex;
    justify-content: center;
    .nav {
      height: 64px;
      line-height: 64px;
      a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
      }
    }
    .search {
      width: 300px;
    }
  }
}
.show {
  opacity: 0;
}