.countdown {
  display: flex;
  width: 340px;
  justify-content: space-around;
  border-radius: 8px;
  color: #cfccc9;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    .text {
      .title {
        color: #de7622;
      }
    }
    .endTime {

    }
  }
  .remaining {
    font-size: 48px;
    font-weight: bold;
    color: #de7622;
    width: 140px;
    .sup {
      font-size: 16px;
      color: #b7511d;
    }
  }
}