.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px 24px;
  .pageIcon {

    :global {
      .iconfont {
        font-size: 48px;
        cursor: pointer;
        color: #737c7b;

        &:hover {
          color: #0f59a4;
        }
      }
    }
  }
  .num {
    font-size: 24px;
    color: #0f59a4;
  }
}