.search {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 10px;

  svg {
    position: absolute;
    //transform: translateX(-64px);
    width: 100%;
    height: 48px;
    stroke: #ffffff;
    stroke-width: 1px;
    stroke-dashoffset: 0;
    stroke-dasharray: 64.6 206.305;
    transition: all 0.5s ease-in-out;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .searchLabel {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    top: 0;
    right: 0;
    z-index: 100;
    transition: 0.5s ease-in-out;
  }
  .inputLabel {
    position: absolute;
    width: calc(100% - 48px);
    height: 48px;
    top: 6px;
    right: 20px;
    bottom: 0;
    left: 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    color: #b3c33a;
  }
}

.isActive {
  svg {
    stroke-dashoffset: -65;
    stroke-dasharray: 141.305 66;
    transform: translateX(0);
  }
}

