.calendar {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
  box-sizing: border-box;
  background-image: url("../../../asset/common/wolves_night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}