.calendar {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
  box-sizing: border-box;
  background-image: url("../../../asset/common/wolves_night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .heartWrap {
    position: absolute;
    background-color: #ff0000;
    width: 40px;
    height: 40px;
    transform: rotateZ(45deg);
    filter: drop-shadow(-4px -2px 12px red);
    animation: heartbeat 1s ease-out infinite;
    opacity: 0;
    top: 50%;
    cursor: pointer;
    transition: opacity 2s;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: red;
      width: 40px;
      height: 40px;
      transform: translateX(-40px);
      border-radius: 50% 0 0 50%;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: red;
      width: 40px;
      height: 40px;
      transform: translateY(-40px);
      border-radius: 50% 50% 0 0 ;
    }
  }

  @keyframes heartbeat {
    to,from {
      transform: scale(0.8) rotateZ(45deg);
    }
    50% {
      transform: scale(1.1) rotateZ(45deg);
    }
  }
}
